{% extends 'base.html.twig' %}

{% block title %}Inscrits index{% endblock %}

{% block body %}
    <h1>Inscrits index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.user.id }}</td>
                <td>{{ inscription.user.nom }}</td>
                <td>{{ inscription.user.prenom }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_atelier_index') }}">Tout les ateliers</a>
{% endblock %}
